.svg {
    border: solid black;
}

hr {
    margin: 0;
    color: black;
    height: 2px;
    border: 1px solid black;
}

h1 {
    margin-top: 0;
}

#box {
    border: 2px solid black;
    width: 800px;
    height: 400px;
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 5px;
}

.randomInput {
    width: 75px;
}

.algorithms {
    display: inline-block;
    width: 100%;
}

.algorithms .norm-button {
    display: inline-block;
}

.algorithms p {
    display: inline-block;
    width: 100px;
    margin-left: 10px;
}

.inline-block {
    display: inline-block;
    width: 29%;
    border-right: 1px solid black;
    margin-right: 5px;
}

.inline-block:last-child {
    border-right: none;
}



