<div id="box">
   <svg viewBox="0 0 800 400"
        height="400"
        width="800">
     <circle [attr.cx]="point.x"
             [attr.cy]="point.y"
             r="3"
             *ngFor="let point of points"/>
     <line [attr.x1]="line.p1.x"
           [attr.y1]="line.p1.y"
           [attr.x2]="line.p2.x"
           [attr.y2]="line.p2.y"
           stroke="black"
           stroke-width="2"
           *ngFor="let line of lines"></line>
   </svg>
 </div>
<div>

  <form (ngSubmit)="onSubmit()"
        #f="ngForm"
        class="form">
    <h3>Add a Vector: &nbsp; &nbsp;</h3>
              <label for="x"><b>X</b></label>
              <input type="number"
                     min="0"
                     max="800"
                     id="x"
                     required
                     ngModel
                     name="x"
                     step="5">
              <label for="y"><b>Y</b></label>
              <input type="number"
                     min="0"
                     max="400"
                     id="y"
                     required
                     ngModel
                     name="y"
                     step="5">
              <button type="submit"
                      class="norm-button"
                      [disabled]="!f.valid">Submit</button>

      </form>
</div>
<div>
  <form (ngSubmit)="randomizePoints()"
        [formGroup]="randomizeFrom"
        class="form">
    <label for="amount"><h3>Amount of Random Points: </h3></label>
    <input type="number"
           id="amount"
           class="randomInput"
           [value]="100"
           formControlName="amount"
           step="10"
           min="0"
           max="2000">
    <button type="submit"
            class="norm-button">Randomize Points</button>
  </form>
</div>

<hr>

<h1>Algorithms</h1>
<div class="algorithms">
  <div class="inline-block">
    <button class="norm-button"
            (click)="simpleAlgo()"
            [disabled]="points.length <= 0">simpleAlgo</button>
    <p>Time: {{simpleAlgoTime}} ms</p>
  </div>
  <div class="inline-block">
    <button class="norm-button"
            (click)="divideAndConquer()"
            [disabled]="points.length <= 0">Divide&Conquer</button>
    <p>Time: {{divideAndConquerTime}} ms</p>
  </div>
  <div class="inline-block">
    <button class="norm-button"
            (click)="grahamScam()"
            [disabled]="points.length <= 0">GrahamScam</button>
    <p>Time: {{grahamScamTime}} ms</p>
  </div>
</div>


